<section class="p-10">
    <h1 mat-dialog-title>Tasks</h1>
    <div mat-dialog-content>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

            <div>
                <mat-form-field class="form-element m-10" apperance="outline">
                    <mat-label>Task Name</mat-label>
                    <input matInput type="text" placeholder="Enter task name" formControlName="taskname">
                </mat-form-field>

                <mat-form-field class="form-element" apperance="outline">
                    <mat-label>Task Description</mat-label>
                    <input matInput type="text" placeholder="Enter task description" formControlName="taskdescription">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-element m-10">
                    <mat-label>Choose a date</mat-label>
                    <input matInput type="text" formControlName="duedate" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>Priority</mat-label>
                    <mat-select formControlName="priority">
                        <mat-option value="low">Low</mat-option>
                        <mat-option value="medium">Medium</mat-option>
                        <mat-option value="high">High</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>

            <!-- <mat-form-field class="form-element m-10">
                <input matInput [type]="dynamictype" placeholder="Type via component" formControlName="lastname">
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput [type]="dynamictype" placeholder="Type via component" formControlName="lastname">
            </mat-form-field> -->
            <div class="submitbutton">
                <button mat-raised-button color="primary" type="submit" class="button"
                    [disabled]="!formGroup.valid">Submit Form</button>
            </div>
        </form>
    </div>
</section>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->