form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.p-10{
padding: 10px;
}

.m-10{
    margin-right: 10px;
}

.form-element{
    width:350px !important;
 }

 .submitbutton {
    display: flex;
    justify-content: flex-end;
    float: right;
 }

 .mat-dialog-container {
    background-color: green !important;
 }
 